.todoEditItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9999px;
  background-color: var(--color-white);
}

.label {
  position: relative;
  flex-grow: 1;
}

.btn {
  margin-right: 0.375rem;
  margin-left: 0.375rem;
}
